body {min-width:320px;height:100%;background:#1c222f;position:relative;font-weight:520;}
/*公用样式*/
.centered {text-align:center !important;}
.background {background:none;}
.t-warp {margin:0 auto;width:1000px}
.header {background:none !important;}
body {max-width:750px;margin:0 auto;}
.header-box {display:block;margin:0 auto;position:relative;background:#293246 !important;}
h3{color:#fff;font-size: .6rem;}
/*é¦–é¡µ*/
.navigation {left:.1rem;top:.3rem !important;}
.navigation .language-button {height:1.26rem;line-height:1.26rem;font-size:.52rem;color:#fff;/* background:rgba(255,255,255,.2);*/ border-radius:.63rem;display:inline-block;padding:0 1.2rem 0 .6rem;position:relative;}
.navigation-box {left:.1rem;}
.choose-lang .choose-lang-box .choose-lang-btn a {line-height:1.2rem;font-size:.56rem;color:#fff;display:block;margin-left:.3rem;}
.language-button img {width:50%;margin-top:.4rem;}
.choose-switch {width:100%;height:100%;background:none;position:fixed;left:0;top:0;display:none;z-index:99;}
.choose-switch .choose-lang-box {width:2.5rem;background:rgb(41,50,70);border-radius:0;padding:.3rem .5rem;position:absolute;right:.1rem;top:1.8rem;}
.choose-switch .choose-lang-box .choose-lang-btn {width:100%;overflow:hidden;padding:.2rem 0;}
.choose-switch .choose-lang-box .choose-lang-btn i,.language .switch-button i {display:inline-block;width:auto;height:1.2rem;vertical-align:middle;background-size:100%;background-position:50%;background-repeat:no-repeat;}
.choose-switch .choose-lang-box .choose-lang-btn span,.choose-switch .choose-lang-box .choose-lang-btn i {line-height:1.2rem;font-size:.56rem;color:#fff;display:block;margin-left:.3rem;}
.language .switch-button i {width:1.2rem;}
i.language-zh-CN {background-image:url('../img/language-ico-zh-CN.png');}
i.language-en-US {background-image:url('../img/language-ico-en-US.png');}
i.language-ja-JP {background-image:url('../img/language-ico-ja-JP.png');}
i.language-ko {background-image:url('../img/language-ico-ko.png');}
.switch-button img {width:60%;float:right;}
.choose-switch .choose-lang-btn img {width:100%;}
.grade img {width:10%;margin-top:.05rem;}
section {/* background:#394458;*/}
.balance-current {width:37.5%;text-align:center;color:#fff;overflow:hidden;}
.balance-current p {font-size:.52rem;color:#fff;margin-top:.2rem;margin-right:1.5rem;}
.balance {width:93%;background:url(../img/homebg.png) no-repeat bottom;background-size:cover;overflow:hidden;position:relative;padding:0rem 0 0 0;border-radius:.2rem;margin:0 auto;margin-bottom:1rem;margin-top:1rem;}
.grade {margin-top:.5rem;font-size:.65rem !important;}
.balance-history {background:none;}
.home .form-group {background:#293246;border:none;width:90%;margin:0 auto;border-radius:.2rem;box-shadow:0.5px 3px #455068;}
.home .form-group button {/* background:-webkit-linear-gradient(left,rgba(255,20,96,0.71),rgba(255,124,74,0.68));*/ color:#fff;width:2.5rem;/* border-style:solid; border-width:1px;*/ height:3.5rem;}
.home .form-group span {margin-left:.2rem;color:#a9b2c5;}
/*..home .form-group .form-control {height:1.5rem;}*/
.home-p {text-align:center;color:#a9b2c5;padding:.3rem;font-size:.5rem;margin-bottom:.5rem;}
.clr {background:#1c222f;height:.7rem;}
.home .balance-history li {width:50%;margin-top:.5rem;}
.home .balance-history {width:90%;margin:0 auto;background:url(../img/homebg1.png);border-radius:.2rem;margin-top:.5rem;background-size:cover;height:3.5rem;}
.home .balance-history li h3 {margin-bottom:.10s67rem;font-size:.7rem;font-weight:bold;}
.home .balance-current {width:90%;margin:0 auto;background:url(../img/homebg2.png);height:3.5rem;border-radius:.2rem;margin-top:.5rem;background-size:cover;height:3.5rem;}
.home .balance-current h3 {margin-top:.5rem;}
.titleBG {background:url(../img/excessive.png) no-repeat;background-size:cover;text-align:center;color:#fff;height:1.3rem;line-height:1.3rem;font-size:.6rem;margin:.8rem 0;}
.home .record-list {width:90%;overflow:hidden;position:relative;margin:0 auto;border-style:solid;border-color:rgba(128,218,171,0.56);border-radius:.2rem;height:10rem;}
.home .record-list-title,.record-list-content {background:none;}
.home .record-list-title {border-bottom:none;}
.home .record-list-content {border-bottom:none;}
.home .record-list-title span {font-size:.54rem;color:#fff;}
.home .record-list-content span {color:#a9b2c5;}
.home .form-label,.form-control {/* height:3.5rem;*/}
.home .balance-current p {margin-left:1.5rem;}
.home .investment-list img {width:1.8rem;position:absolute;left:.5rem;top:.8rem;border-radius:50%;}
.home .investment-info {padding-top:.3rem;margin-left:-3rem;}
.home_seven {padding-bottom:.8rem;background:#293246;width:90%;margin:0 auto;margin-bottom:1rem;border-radius:.2rem;}
.t-warp .balance-history li h3 {font-size:1rem;color:#fff;margin-top:.1rem;}
.adImg {display:flex;justify-content:space-between;align-items:center;text-align:center;padding:0 .5rem .4rem;}
.adImg div {width:30%;text-align:center;}
.adImg img {width:2rem;margin-top:.8rem;}
.balance-img {width:22%;display:flex;float:right;margin-right:1rem;margin-top:.9rem;}
.balance-history {padding:0.35rem 0;}
.home_top {height:2rem;color:#fff;position:relative;background:#293246;}
.home .form-control img {width:5%;margin-top:.5rem;}
.home-h3 {margin-left:-2.9rem;margin-bottom:.4rem;}
.home-li {margin-top:1rem;width:50% !important;}
/*èŠ‚ç‚¹*/
.home .otc-trade {width:90%;border-bottom:none;overflow:hidden;padding:.5rem;margin:0 auto;}
.home .general {width:90%;margin:0 auto;/* text-align:center;*/ background:#ffae0d;line-height:1.8rem;color:#fff;border-top-left-radius:.3rem;border-top-right-radius:.3rem;}
.general span {font-size:.65rem;margin-left:.1rem;}
.color1 {background:#04ad90 !important;}
.color1 img {width:10%;float:left;margin-top:.3rem;margin-left:.2rem;}
.color2 {background:#2c39ff !important;}
.color2 img {width:10%;float:left;margin-top:.3rem;margin-left:.2rem;}
.color3 {background:#5e3ada !important;}
.color3 img {width:10%;float:left;margin-top:.3rem;margin-left:.2rem;}
.color4 {background:#01befb !important;}
.color4 img {width:10%;float:left;margin-top:.3rem;margin-left:.2rem;}
.color5 {background:#ffae0d !important;}
.color5 img {width:10%;float:left;margin-top:.3rem;margin-left:.2rem;}
/*------ä¿¡æ¯------*/
.user-photo {width:3rem;height:3rem;background:rgba(255,255,255,.3);border-radius:50%;padding:.15rem;margin:0 auto;margin-top:-0.6rem;position:relative;}
.user-photo img {width:2.7rem;height:2.7rem;border-radius:50%;object-fit:cover;}
.home .investment-list .investment-more {background:#ffae0d;padding:.3rem;margin-top:.8rem;color:#fff;border-radius:.3rem;line-height:.8rem;width:28%;text-align:center;font-size:.6rem;}
.home .investment-list {background-color:#fff;/* border-radius:.3rem;*/ width:90%;margin:0 auto;border-bottom-left-radius:.3rem;border-bottom-right-radius:.3rem;}
.investment-info p {color:#293246;font-size:.6rem;}
/*è´­ä¹°é—¨ç¥¨*/
.header {background:#293246;position:fixed;top:0;}
.purchase .form-text {width:100%;background:none;margin-left:1.1rem;margin-top:.5rem;}
.purchase .form-text .form-label {width:23%;color:#e2e5eb;padding-left:.5rem;}
.purchase .form-text .form-control .text-input {width:75%;height:1.6rem;font-size:.56rem;color:#FFFFFF;border:#f1f1f1 .05rem solid;border-radius:.3rem;background:none;padding-left:.3rem;}
.purchase .number-form-tag i:after {width:.05rem;height:.6rem;content:'';background:none;position:absolute;right:0;top:.5rem;}
.purchase-p {font-size:.45rem;text-align:center;color:#e2e5eb;margin-left:3rem;}
.form-submit-btn {width:10rem;height:1.6rem;line-height:1.6rem;font-size:.64rem;color:#fff;text-align:center;background:-webkit-linear-gradient(left,#4dcbe6,#b7eb6d);border-radius:.2rem;display:block;margin:0 auto;}
/******å…¬å‘Šåˆ—è¡¨******/
.purchase .message {width:100%;position:relative;}
.message-list {display:block;margin:.5rem;padding:.8rem;background:none;border-radius:.2rem;-webkit-box-shadow:0 0 0.05rem 0 #C6CFD6;box-shadow:0 0 0.05rem 0 #b2d6f7;}
.message-list h3 {font-size:.65rem;color:#b2d6f7;text-align:center;}
.message-list p {display:block;margin:0 0 .1rem;color:#999;font-size:.48rem;}
.message-title {color:#333;line-height:1.2rem;font-size:.56rem;}
.message-text {color:#e3e3e3;line-height:1rem;font-size:.56rem;text-align:justify;text-indent:1.2rem;}
.message-item {margin-top:.15rem;text-align:right;font-size:.12rem;color:#999;}
/*------æ ‡é¢˜------*/
.article .article-title {font-size:.72rem;color:#111;padding:.3rem 0;}
.article .article-title.title-center {text-align:center;color:#9be38c;margin-top:-.5rem;}
.article .article-time {font-size:.56rem;text-align:center;color:#999;}
/*------æ­£æ–‡------*/
.article .article-content {overflow:hidden;}
.article .article-content p {line-height:1.8em;font-size: 0.53rem;color:#e2e4e9;text-indent:1.05rem;text-align:justify;margin-top:.15rem;}
.purchase .article {width:100%;overflow:hidden;padding:.5rem 0;}
/*资产*/
.assets {margin:.5333rem .5333rem .4rem;/* -webkit-box-shadow:0 0 0.2rem #ccc; box-shadow:0 0 0.2rem #a9b2c5;*/ border-radius:.1333rem;padding:.2667rem;background:#293246;}
.one {margin:.2rem 0;color:#9be38c;font-size:.54rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.one img {width:5.5%;}
.assets .balance-history li {width:50%;text-align:center;overflow:hidden;float:left;position:relative;}
.assets .balance-history li {margin-bottom:.8rem;}
.content {box-shadow:0 0 0.2rem #ccc;border-radius:.1333rem;padding:.2rem .3rem;margin:.6rem .6rem 0;background:#293246;}
.Profit {margin-top:.5rem;}
/**********资产数据**********/
/*------主体------*/
.investment{ box-shadow: 0 .15rem .24rem rgba(0, 0, 0, 0.14); margin: .5rem;}

.investment-list{ width: 100%; min-height: 3.4rem; overflow: hidden; padding: .5rem .5rem .5rem 3.8rem; position: relative;}
.investment-list .investment-more{ font-size: .52rem; color: #5887fb; display: block; position: absolute; right: .6rem; top: .4rem;}
/*------内容------*/
.investment-info{ padding-top: .3rem;}
.investment-info p{line-height: 1rem;font-size: .56rem;color: #293246;}
/*------按钮------*/
.investment-toolbar{ width: 100%;}
.investment-toolbar button, .investment-toolbar span{width: 45%;line-height: 1.6rem;font-size: .56rem;text-align: center;color: #fff;display: block;float: left;margin-left: .45rem;margin-bottom: .5rem;}

.investment-btn-1{/* background: -webkit-linear-gradient(100deg, #09f, #06f); */background: linear-gradient(100deg, #53cde0, #a9e77c);border: #b5eb6f 1px solid;/* border-radius: .3rem; */border-radius: .3rem;/* border-top-left-radius: .3rem; */}
.investment-btn-2{background: linear-gradient(100deg, #53cde0, #a9e77c);border-radius: .3rem;/* border-top-right-radius: .3rem; */border: #b5eb6f 1px solid;}
.assets-details-list .investment-info {float: left;position: relative;/* margin-right: 1rem; */width: 50%;}
.assets-details-list p {margin-left: 1rem;color: #fff;line-height: 1.5rem;}
.box {width: auto;background: #293246;border-radius: .3rem;overflow: hidden;margin: .4rem .35rem;width: 90%;margin: 0 auto;margin-bottom: 1rem;}
/*------资产页面按钮------*/
.shop-btn { width: 90%; margin: 0 auto; margin-left: 1rem;}
.shop-btn a{width:48%;font-size:.56rem;color: #b0e974;text-align:center;border: #b5eb6f 1px solid;/* border-radius:5px; */overflow:hidden;display:block;padding:.3rem 0;float:left;}
.shop-btn a:nth-child(2n){/* float:right; */}
/*分享*/
.share .tab-container { overflow: hidden; margin-bottom: 1rem; background: #293246; width: 90%; margin: 0 auto;border-radius: .3rem;}
.share .deal-title {width:86%;background:none;margin:0 auto;margin-top:.5rem;margin-bottom:.5rem;border-radius:.3rem;}
.share .deal-title li {border:none;overflow:hidden;}
.share .deal-title li.active span {background:-webkit-linear-gradient(left,#4dcbe6,#b7eb6d);}
.share .tab-title li.active span {color:#fff;}
.share .tab-title li span,.tab-title li a {border-radius:.3rem;margin-left:1rem;background:#293246;border:rgba(165,230,129,0.541) .05rem solid;}
.share .tab-title ul {margin-left:-.5rem;margin-top:1rem;}
.first {font-size:.55rem;color:#e2e5eb;line-height:1.2rem;margin-bottom:.8rem;width:90%;margin:0 auto;}
.share .button {width:90%;background:-webkit-linear-gradient(left,#4dcbe6,#b7eb6d);border-radius:.3rem;margin:0 auto;margin-top:3rem;margin-bottom:1rem;}
.firstTitle {font-size:.6rem;color:#a9b2c5;padding:1rem;}
.share .record-list {width:90%;overflow:hidden;position:relative;margin:0 auto;}
.share .record-list-title span {font-size:.56rem;color:#a9b2c5;padding:.5rem .3rem;vertical-align:middle;}
.share .record-list-title {border-bottom:none;}
.share .record-list-title,.record-list-content {width:100%;background:none;table-layout:fixed;border-collapse:collapse;display:table;}
.share .record-list-content {border-bottom:none;}
.record-list-content span {font-size:.52rem;color:#e2e5eb;padding:.4rem .3rem;vertical-align:middle;}
.share .balance-history li {width:50%;margin-bottom:1.3rem;}
.share .form-group {width:90%;background:#1c222f;border-bottom:#293246 .05rem solid;display:table;position:relative;margin:0 auto;border-radius:.3rem;}
.share .form-label {width:3.6rem;color:#e2e5eb;}
.tradeList .form-control button {width:2.5rem;height:1.8rem;line-height:1.8rem;font-size:.46rem;color:#fff;text-align:center;position:absolute;top:0;right:0;background:-webkit-linear-gradient(left,#4dcbe6,#b7eb6d);border-radius:.3rem;}
.number-form-tag i {font-size:.52rem;color:rgba(178,214,247,0.56);display:block;float:left;padding:0;position:relative;margin-right:3.5rem;}
/*常见问题*/
.contract .deal-title {width:86%;background:none;margin:0 auto;margin-top:.5rem;margin-bottom:.5rem;border-radius:.3rem;}
.contract .deal-title li {border:none;overflow:hidden;}
.contract .deal-title li.active span {background:-webkit-linear-gradient(left,#4dcbe6,#b7eb6d);}
.contract .tab-title li.active span {color:#fff;}
.contract .tab-title li span,.tab-title li a {border-radius:.3rem;margin-left:1rem;background:#293246;border:rgba(165,230,129,0.541) .05rem solid;}
.contract .tab-title ul {margin-left:-.5rem;margin-top:1rem;margin-bottom: 0.1rem;}
.contract .message-list h3 {font-size:.65rem;color:#b2d6f7;text-align:left;margin-bottom:.5rem;}
.contract .message-list {box-shadow:none;}
.contract .message-text {line-height:1.1rem;}
.contract .tab-container .tab-box {background:#293246;width:90%;margin:0 auto;border-radius:.3rem;}
.container .home-li span {margin-left: 0.8rem;}
.container .home-li {margin-left:-.2rem;}
.contract .article {background:#293246;width:90%;margin:0 auto;border-radius:.3rem;}
/******切换语言******/
/*------显示当前语言------*/
.language {width:auto;position:absolute;top:.4rem;right:.5rem;z-index:9;}
/*.language .language-button:after {background-image:url(../img/dj.png);width:.32rem;height:.32rem;content:'';border-left:#fff .06rem solid;border-bottom:#fff .06rem solid;opacity:.6;transform:rotate(-45deg);transform:-webkit-rotate(45deg);position:absolute;right:.4rem;top:.4rem;}*/
/*------选择语言的框------*/
.choose-lang {width:100%;height:100%;background:none;position:fixed;left:0;top:0;display:none;z-index:99;}
.choose-lang .choose-lang-box {width:4.8rem;background:rgb(41,50,70);border-radius:0;padding:.3rem .5rem;position:absolute;right:.5rem;top:1.75rem;}
    /*.choose-lang .choose-lang-box:after {border-left:.2rem solid transparent;border-right:.2rem solid transparent;border-bottom:.2rem solid rgb(28,34,47);position:absolute;right:.5rem;top:-0.2rem;}*/
.choose-lang .choose-lang-box .choose-lang-btn {width:100%;overflow:hidden;padding:.2rem 0;}
.choose-lang .choose-lang-box .choose-lang-btn i,.login .language .choose-lang .choose-lang-btn span {float:left;}
.choose-lang .choose-lang-box .choose-lang-btn span {line-height:1.2rem;font-size:.56rem;color:#fff;display:block;margin-left:.3rem;}
/*购买记录*/
.add-btn-bottom button {width:100%;line-height:1.4rem;text-align:center;background:none;border:none;border-radius:.2rem;display:block;background:-webkit-linear-gradient(left,#4dcbe6,#b7eb6d);}
.add-btn-bottom button {height:1.4rem;color:#fff;display:inline-block;vertical-align:top;}
.add-btn-bottom {background:#1c222f;width:100%;padding:.3rem 2rem;margin:0 auto;position:fixed;}
/*参与记录*/
.participation .bill-list li {width:100%;border-bottom:#1c222f .05rem solid;overflow:hidden;margin:0 auto;}
.participation .bill-list li a {background:#293246;}
.participation .bill-list li h3 {color:#e2e5eb;}
.participation .bill-list li p {color:#82858d;}
.participation .bill-list li span.bill-plus {color:#9be38c;}
.participation .bill-list {margin-top:.2rem;}
.notime img {width:5.2rem;margin-left:5rem;}
.notime p {text-align:center;margin-top:.5rem;color:#fff;font-size:.65rem;}
/**********电子票据**********/
/******订单列表******/
/*------主体------*/
.bill-text {width:auto;margin:.3rem;padding:.3rem;/* background:#fff;*/border:none;overflow:hidden;}
/*------标题：时间/状态------*/
.bill-title {width:100%;border-bottom:#1c222f .05rem dashed;overflow:hidden;padding:0.6rem .5rem;}
.bill-title span {font-size:.56rem;color:#fff;display:block;}
.bill-title span.bill-time {color:#9be37a;font-size:.48rem;}
.bill-title h3 {font-size:.65rem;padding-bottom:.5rem;}
.bill-title p {color:#999;font-size:.48rem;padding-bottom:.3rem;}
/*------票据的内容------*/
.bill-content {width:100%;overflow:hidden;}
.bill-content ul {width:100%;background:#fff;overflow:hidden;padding:.2rem .5rem;}
.bill-content li {font-size:.52rem;color:#555;float:left;}
.bill-content li:nth-child(1) {width:4rem;color:#999;}
.bill-content li:nth-child(2) {width:8.5rem;text-align:right;float:right;}
.bill-content-status {background:#aaa;color:#fff;padding:0rem .2rem;font-size:.48rem;margin-right:.1rem;}
/*提示弹窗*/
.tips-popup .popup-box-title {text-align:left;border-bottom:0;}
.tips-popup .popup-box-text p {text-align:center;font-size:20px;color: #fff;word-break:break-word;}
.tips-popup .popup-submit .cancle-btn {display:block;width:100%;font-size:16px;background:none;color: #fff;border-right: none;}
/*邀请链接弹窗*/
.invitation-link-popup .popup-box {width:500px;overflow:initial;background:none;background:#f7523b;}
.invitation-link-popup .popup-box-title {border:0;position:relative;padding:0;}
.invitation-link-popup .popup-box-close {top:-30px;right:-30px;}
.invitation-link-popup .head-bg {display:block;width:100%;border-radius:10px 10px 0 0;}
.invitation-link-popup .popup-box-title h1 {display:block;width:100%;padding:20px;font-size:36px;color:#fff;text-align:center;position:absolute;top:0;left:0;line-height:1.6;text-shadow:0em 0.1em 0.2em #c5220c;}
.invitation-link-popup .popup-box-title h1 span {color:#fff90a;font-size:40px;}
.invitation-link-popup .popup-box-content {background:#f7523b;border-radius:0 0 10px 10px;padding:0 20px 60px 20px;}
/*推荐码输入*/
.Recommendation {position:absolute;top:0px;left:0px;right:0px;bottom:0px;text-align:center;width:360px;height:240px;border-radius:10px;margin:auto;padding:30px;background:#fff;position:fixed;box-shadow:#555 0 0 1rem;}
.Recommendation > img {position:absolute;right:5px;top:5px;height:25px;cursor:pointer;}
.Recommendation > p {font-size:25px;color:#3c4947;}
.Recommendation .invitors {display:block;width:100%;height:44px;line-height:44px;border-radius:6px;border:solid 1px #ccc;padding:0 15px;}
.Recommendation > .invitors {height:40px;width:100%;font-size:20px;color:#333;padding-left:10px;background-color:rgb(232,232,232);border-width:0px;border-style:initial;border-color:initial;border-image:initial;border-radius:5px;}
.Recommendation .smallTil {text-align:right;line-height:42px;font-size:16px;color:#3c4947;padding-right:20px;}
.Recommendation > .invest {background-size:200% 100%;transform:translateZ(0px);font-size:18px;text-align:center;color:rgb(32,178,170);width:156px;height:40px;cursor:pointer;background-repeat:repeat;border-width:initial;border-style:none;border-color:initial;border-image:initial;border-radius:8px;margin-top:20px;}
.Recommendation .smallTil span {max-width:100%;word-break:break-all;}
/*提示转圈*/
.home-tips {display:block;}
.home-tips .popup-box {margin-top:45%;}
.home-tips .popup-box-content p {text-align:center;font-size:18px;color:#f20;}
.loader {width:100%;height:70px;margin-bottom:15px;box-sizing:border-box;display:flex;/*多轮布局*/ align-items:center;/*垂直*/ justify-content:center;/*水平*/}
@-webkit-keyframes loading-3 {50% {transform:scale(0.4);opacity:.4;}
100% {transform:scale(1);opacity:1;}
}
.loading-3 {position:relative;}
.loading-3 i {display:block;width:15px;height:15px;border-radius:50%;background-color:#f20;position:absolute;}
.loading-3 i:nth-child(1) {top:25px;left:0;-webkit-animation:loading-3 1s ease 0s infinite;}
.loading-3 i:nth-child(2) {top:17px;left:17px;-webkit-animation:loading-3 1s ease -0.12s infinite;}
.loading-3 i:nth-child(3) {top:0px;left:25px;-webkit-animation:loading-3 1s ease -0.24s infinite;}
.loading-3 i:nth-child(4) {top:-17px;left:17px;-webkit-animation:loading-3 1s ease -0.36s infinite;}
.loading-3 i:nth-child(5) {top:-25px;left:0;-webkit-animation:loading-3 1s ease -0.48s infinite;}
.loading-3 i:nth-child(6) {top:-17px;left:-17px;-webkit-animation:loading-3 1s ease -0.6s infinite;}
.loading-3 i:nth-child(7) {top:0px;left:-25px;-webkit-animation:loading-3 1s ease -0.72s infinite;}
.loading-3 i:nth-child(8) {top:17px;left:-17px;-webkit-animation:loading-3 1s ease -0.84s infinite;}
.collection {margin-top:-6rem !important;width:50% !important;}
/****************弹窗****************/
.popup {width:100%;height:100%;background:rgba(0,0,0,0.52);overflow:hidden;position:fixed;top:0;left:0;z-index:99999;display:none;}
.popup-box {width:90%;background:#293246;border-radius:.4rem;box-shadow:#555 0 0 1rem;overflow:hidden;position:absolute;left:5%;top:3rem;z-index:2;}
.popup-box-title {color:#fff;border-bottom:#141821 .05rem solid;}
.popup-box-close {background-image:url('../img/close.png');}
.join-group-btn {width:100%;overflow:hidden;margin:0 auto;margin-top:1rem;}
.join-group-btn span {width:100%;font-size:.9rem;color:#fff;text-align:center;background:linear-gradient(100deg,#f75c72,#f75c72);border-radius:1rem;overflow:hidden;display:block;border:#fff8a7 6px solid;}
.choose-group-panel {background:#293246;border-radius:.4rem;padding:0 0 .7rem 0;z-index:2;}
.choose-group-panel .choose-group-title {width:100%;text-align:center;border-bottom:#e4e4e4 1px solid;overflow:hidden;padding:.5rem;}
.choose-group-panel .choose-group-title h3 {font-size:.6rem;font-weight:normal;color:#333;}
.choose-group-panel .join-group-title {width:100%;font-size:.72rem;color:#fff;text-align:center;overflow:hidden;padding:1rem .5rem .3rem .5rem;}
.choose-group-panel .join-group-info {width:100%;font-size:.56rem;color:#777;text-align:center;overflow:hidden;padding:0 .3rem;}
.choose-group-panel .join-group-info i {font-style:normal;color:#e02e24;}
.choose-group-panel .join-group-info span {color:#333;}
.choose-group-panel .join-group-member {width:4.6rem;overflow:hidden;margin:0 auto;margin-top:10.2rem;padding-top:.3rem;}
.choose-group-panel .join-group-member .group-member-photo {width:auto;height:auto;position:relative;}
.choose-group-panel .join-group-member .group-member-photo img {width:100%;height:100%;border-radius:50%;}
.group-member-photo i {width:1.4rem;font-style:normal;font-size:.4rem;color:#fff;text-align:center;background:#f60;border:#fff 1px solid;border-radius:.3rem;display:block;padding:.05rem 0;position:absolute;left:.3rem;top:-.2rem;}